<!-- 
  <table class="table border-2 rounded">
    <thead>
      <tr class="">
        <th>Order NUM</th>
        <th>Id</th>
        <th>Paid</th>
        <th>Delivered</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      @for (item of allordersList; track $index) {
      <tr>
        <th>Order {{ $index + 1 }}</th>
        <th>{{ item.id }}</th>
        @if (item.isPaid == true) {
        <th>paid</th>
        } @else if (item.isPaid == false) {
        <th>Not paid</th>
        } @if (item.isDelivered == true) {
        <th>dilavired</th>
        } @else if (item.isDelivered == false) {
        <th>Not Delivered</th>
        }
        <th>{{ item.totalOrderPrice | currency : "GBP" }}</th>
      </tr>
      <tr>
      </tr>
     }
    </tbody>
  </table>
</section> -->


<section class="container">
  <div *ngIf="orders.length > 0; else noOrders" class="orders-container"></div>
    <h3 class="orders-header my-4">Your Orders :</h3>
    <div *ngFor="let order of orders" class="order-card row my-5 border rounded p-2">
      <div class="order-header col-md-4">
        <h5 class="order-id">Order ID: {{ order._id }}</h5>
        <span class="order-date">{{ order.createdAt | date:'mediumDate' }}</span>
      </div>
      
      <div class="order-details row">
        <div class="order-summary col-md-6 ">
          <p><strong>Payment: </strong> {{ order.paymentMethodType }}</p>
          <p><strong>Paid: </strong> <span [ngClass]="order.isPaid ? 'status-paid' : 'status-unpaid'">{{ order.isPaid ? 'Yes' : 'No' }}</span></p>
          <p><strong>Delivered: </strong> <span [ngClass]="order.isDelivered ? 'status-delivered' : 'status-pending'">{{ order.isDelivered ? 'Yes' : 'No' }}</span></p>
        </div>
        
        <div class="shipping-info col-md-6">
          <h4>Shipping Address</h4>
          <p>{{ order.shippingAddress.details }}, {{ order.shippingAddress.city }}</p>
          <p><strong>Phone: </strong> {{ order.shippingAddress.phone }}</p>
          <p><strong>Details: </strong> {{ order.shippingAddress.details }}</p>
        </div>
      </div>
      
      <h4 class="items-header my-5">Items in this Order:</h4>
      <div class="order-items row">
        <div *ngFor="let item of order.cartItems" class="order-item col-md-3">
          <img [src]="item.product.imageCover" alt="{{ item.product.title }}" class="product-image w-25">
          <div class="item-details">
            <p class="item-title">{{ item.product.title }}</p>
            <p class="item-price text-main">Price: {{ item.price |currency : "GBP"}}</p>
            <p class="item-quantity">Quantity: {{ item.count }}</p>
          </div>
        </div>
        <p class="text-main"><strong>Total Price:</strong> ${{ order.totalOrderPrice }}</p>
      </div>
    </div>  
  <ng-template #noOrders>
    <p class="no-orders">You have no orders yet.</p>
  </ng-template>
</section>
